<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" packages="org.graylog2.log4j">
    <Appenders>
        <!-- Console appender for local development -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <!-- Rolling file appender for production -->
        <RollingFile name="RollingFile" fileName="/var/log/graylog/server.log"
                     filePattern="/var/log/graylog/server-%d{yyyy-MM-dd}-%i.log.gz"
                     ignoreExceptions="false">
            <PatternLayout pattern="%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="100MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <!-- Error file appender -->
        <RollingFile name="ErrorFile" fileName="/var/log/graylog/error.log"
                     filePattern="/var/log/graylog/error-%d{yyyy-MM-dd}-%i.log.gz"
                     ignoreExceptions="false">
            <PatternLayout pattern="%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="50MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>

        <!-- Audit log appender -->
        <RollingFile name="AuditFile" fileName="/var/log/graylog/audit.log"
                     filePattern="/var/log/graylog/audit-%d{yyyy-MM-dd}-%i.log.gz"
                     ignoreExceptions="false">
            <PatternLayout pattern="%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="100MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Graylog server logger -->
        <Logger name="org.graylog2" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Logger>

        <!-- Error logger -->
        <Logger name="org.graylog2.errors" level="ERROR" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="ErrorFile"/>
        </Logger>

        <!-- Audit logger -->
        <Logger name="org.graylog2.audit" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="AuditFile"/>
        </Logger>

        <!-- Elasticsearch/OpenSearch logger -->
        <Logger name="org.elasticsearch" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Logger>

        <!-- MongoDB logger -->
        <Logger name="org.mongodb" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Logger>

        <!-- Jetty logger -->
        <Logger name="org.eclipse.jetty" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Logger>

        <!-- Reduce noise from some libraries -->
        <Logger name="org.apache.cxf" level="WARN"/>
        <Logger name="ch.qos.logback" level="WARN"/>
        <Logger name="org.hibernate" level="WARN"/>
        <Logger name="com.sun.jersey" level="WARN"/>
    </Loggers>

    <Root level="INFO">
        <AppenderRef ref="Console"/>
        <AppenderRef ref="RollingFile"/>
    </Root>
</Configuration>
